.app {
  display: grid;
  grid-template-areas:
    "primary-tools header secondary-tools"
    "primary-tools artboard secondary-tools"
    "primary-tools footer secondary-tools";
  grid-template-columns: 260px 1fr 260px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 24px;
  min-height: 100%;
}

.header {
  grid-area: header;
  text-align: center;
  color: var(--color4);
}

.header:before {
  content: '😎 ';
}

.header:after {
  content: ' 🎨';
}

.footer {
  grid-area: footer;
  text-align: center;
}

.footer p {
  font-size: 12px;
}
