.resize {

}

.label {
  display: block;
  margin-bottom: 12px;
}

.width {
  font-weight: bold;
}

.widthAmount {
  font-style: italic;
}

.button {
  margin-left: 12px;
  background-color: transparent;
  border: 0;
}
