.toolbar {
  padding: 24px;
  background-color: hsl(0, 0%, 95%)
}

.primary {
  grid-area: primary-tools;
}

.secondary {
  grid-area: secondary-tools;
}

.heading {
  font-size: 18px;
  margin-top: 36px;
}
