.app {
  display: grid;
  grid-template-areas:
    "header"
    "artboard"
    "tools"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 500px) {
  .app {
    grid-template-areas:
      ". header header ."
      ". artboard artboard ."
      ". primary-tools secondary-tools ."
      ". footer footer .";
    grid-template-columns: 1fr repeat(2, 240px) 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-gap: 8px;
  }
}

@media (min-width: 900px) {
  .app {
    grid-template-areas:
      "primary-tools header secondary-tools"
      "primary-tools artboard secondary-tools"
      "primary-tools footer secondary-tools";
    grid-template-columns: 260px 1fr 260px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 24px;
  }
}
