.artboard {
  grid-area: artboard;
  overflow: auto;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .artboard {
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
}
