.viewport {
  flex: 1;
  align-self: stretch;
  position: relative;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: contain;
}

.viewport[data-pan='true'] {
  cursor: grab;
}

.viewport[data-pan='true']:active {
  cursor: grabbing;
}

.wrapper {
  padding: 8px;
  user-select: none;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 8px 8px var(--white);
}

@media (min-width: 500px) {
  .wrapper {
    box-shadow: 0 0 16px 16px var(--white);
  }
}
