.center {
  margin: auto;
}

.wrapper {
  padding: 8px;
  user-select: none;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 8px 8px var(--white);
  /* @note: this offsets the box-shadow, if you change it, you should override the white variable with something easier to see */
  margin: 16px;
}

@media (min-width: 500px) {
  .wrapper {
    box-shadow: 0 0 16px 16px var(--white);
    margin: 32px;
  }
}
