.footer {
  grid-area: footer;
  text-align: center;
}

.footer p {
  font-size: 12px;
}

.footer p:nth-of-type(2) {
  display: none;
}

@media (min-width: 500px) {
  .footer {
    padding: 24px;
  }

  .footer p:nth-of-type(2) {
    display: block;
  }
}
