.toolbar {
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 500px) {
  .toolbar {
    background-color: hsla(0, 0%, 100%, 0.25);
  }
}

@media (min-width: 900px) {
  .toolbar {
    padding: 24px;
  }
}

.primary {
  grid-area: primary-tools;
}

.secondary {
  grid-area: secondary-tools;
}

.heading {
  font-size: 18px;
  margin-top: 24px;
}

@media (min-width: 500px) {
  .heading {
    margin-top: 36px;
  }
}
